* {
    margin: 0;
    padding: 0;
}

body {
    padding: 15px;
}

.video-player {
  position: relative;
  box-sizing: border-box;
  width: 720px;
  max-width: 100%;
  max-height: calc(100% * 0.5625);
}

.video-player > video {
  width: 100%;
  height: 100%;
}

#adContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.controls {
  margin: 10px 0;
}